dist
*.egg
*.egg-info
*.pyc
.cache/
.coverage
.coverage.*
.eggs/
.tox/
~*.*
build/
.idea/
.python-version
.vscode
/.idea/misc.xml
/.idea/modules.xml
/.cache
/.eggs
/ChangeLog
/AUTHORS
/.pytest_cache
/node_modules
