language: python
env:
  - TOX_ENV=py26
  - TOX_ENV=py27
<<<<<<< HEAD
  - TOX_ENV=py33
  - TOX_ENV=py34
  - TOX_ENV=docs
=======
>>>>>>> b004fbf
  - TOX_ENV=flake8
install:
  - pip install tox
script: 
  - tox -e $TOX_ENV

